body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  color: white;
  &__title {
    z-index: 10;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
  }
  
// Menu hamburger styles
&__menu-icon {
  z-index: 10;
  min-width: 40px;
  height: 10px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  }

  &__menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  }
  &__menu-icon span::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  }
  &__menu-icon span::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  }

// Menu toggle styles
&__menu-icon span {
  top: 0px;
  transform-origin: left center;
}

&__menu-icon span::before {
  top: -10px;
  transform-origin: left center;
}

&__menu-icon span::after {
  top: 10px;
  transform-origin: left center;
}

&__menu-icon.open span {
  transform: rotate(45deg);
  top: -14px;
  left: 10px;
}

&__menu-icon.open span::before {
  width: 0%;
  opacity: 0;
}

&__menu-icon.open span::after {
  transform: rotate(-90deg);
  top: 20px;
  left: 20px;
}
}

.locations {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  &.open {
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 63px;
    background-color: rgba(34, 34, 34, 0.9);
  }
  &__filter {
    padding: 5px;
    line-height: 30px;
    font-size: 20px;
  }
  &__list {
    margin: 0;
    padding: 10px;
    height: calc(100vh - 127px);
    overflow: auto;
  }
  &__item {
    list-style: none;
    cursor: pointer;
    color: white;
    line-height: 30px;
    font-size: 20px;
    &:hover {
      color: rgb(255, 255, 0);
    }
  }
}

.map {
  width: 100%;
  height: calc(100vh - 63px);
}

@media (min-width: 768px) {
  .locations {
    &.open {
      width: 500px;
    }
  }
}
